//Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.logo {
  width: 130px;
}

i.material-icons {
  font-size: 20px;
  vertical-align: middle;
}
